<section class="cwr-marquee-slider">
    <div class="cwr-marquee-slider__content">
        <ul class="js-marquee-slider">
            <li>
                <p>200+ Google Reviews</p>
            </li>
            <li>
                <p>Since 1998</p>
            </li>
            <li>
                <p>90,000+ Happy customers</p>
            </li>
            <li>
                <p>Premium Quality</p>
            </li>
            <li>
                <p>Since 1998</p>
            </li>
        </ul>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Marquee Slider",
    "settings": [],
    "presets": [
      {
        "name": "Custom Marquee Slider"
      }
    ]
  }
{% endschema %}