<section class="cwr-logo-slider">
    <div class="cwr-logo-slider__content js-logo-slider-content">
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img1.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img2.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img3.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img4.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img5.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img6.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img7.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img8.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="./images/logo-slider-img6.png" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Logo Slider",
    "settings": [],
    "presets": [
      {
        "name": "Custom Logo Slider"
      }
    ]
  }
{% endschema %}