<div class="cwr-usp-slider cwr-usp-slider--bg-primary">
  {% assign usp_blocks = section.blocks | where: "type", "usp_slider" %}
  {% if usp_blocks.size > 0 %}
    {% render 'usp-slider', blocks: usp_blocks %}
  {% endif %}
</div>
{% schema %}
  {
    "name": "Custom Usp Slider",
    "settings": [],
    "blocks": [
      {
        "type": "usp_slider",
        "name": "Usp Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "USP Image"
          }, {
            "type": "text",
            "id": "text",
            "label": "USP Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Usp Slider",
        "blocks": [
          {
            "type": "usp_slider",
            "settings": {
              "text": "90,000 + happy customers"
            }
          }, {
            "type": "usp_slider",
            "settings": {
              "text": "Safe & secure checkout"
            }
          }, {
            "type": "usp_slider",
            "settings": {
              "text": "FREE DELIVERY over $70"
            }
          }
        ]
      }
    ]
  }
{% endschema %}