<section class="cwr-faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cwr-faq__left">
                    <div class="cwr-faq__logo">
                        <img data-src="./images/faq-logo.png" alt="cwr-faq logo" class="img-fluid lazyload"
                            width="70" height="70">
                    </div>
                    <h2 class="custom-heading-md">Frequently asked questions</h2>
                    <h4 class="custom-heading-sm">If you can’t find all the answers you need here, please contact us
                        at <a href="javascript:;">support@bombingscience.com .</a></h4>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="cwr-faq__right">
                    <div class="cwr-faq-main js-faq-main-wrapper">
                        <ul>
                            <li class="cwr-faq-main__item">
                                <div class="cwr-faq-main__que js-faq-main-que">
                                    <h6>When my order will be delivered?</h6>
                                </div>
                                <div class="cwr-faq-main__ans js-faq-main-ans">
                                    <p>USA: 3-6 business daysCanada: 1-5 business daysInternational: 8-75 business
                                        days</p>
                                    <ul>
                                        <li>Calculate the business days from the day after you have received your
                                            shipping confirmation. For example, if you have received your shipping
                                            confirmation today, tomorrow will be the 1st business day of the
                                            shipping.</li>
                                        <li>The shipping times above are for deliveries in major centers. For rural
                                            deliveries or deliveries outside continental USA and Canada, it can take
                                            a few more days.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="cwr-faq-main__item">
                                <div class="cwr-faq-main__que js-faq-main-que">
                                    <h6>When will you ship my order?</h6>
                                </div>
                                <div class="cwr-faq-main__ans js-faq-main-ans">
                                    <p>USA: 3-6 business daysCanada: 1-5 business daysInternational: 8-75 business
                                        days </p>
                                </div>
                            </li>
                            <li class="cwr-faq-main__item">
                                <div class="cwr-faq-main__que js-faq-main-que">
                                    <h6>Where can I track my package?</h6>
                                </div>
                                <div class="cwr-faq-main__ans js-faq-main-ans">
                                    <p>USA: 3-6 business daysCanada: 1-5 business daysInternational: 8-75 business
                                        days</p>
                                </div>
                            </li>
                            <li class="cwr-faq-main__item">
                                <div class="cwr-faq-main__que js-faq-main-que">
                                    <h6>What is your return policy?</h6>
                                </div>
                                <div class="cwr-faq-main__ans js-faq-main-ans">
                                    <p>USA: 3-6 business daysCanada: 1-5 business daysInternational: 8-75 business
                                        days</p>
                                </div>
                            </li>
                            <li class="cwr-faq-main__item">
                                <div class="cwr-faq-main__que js-faq-main-que">
                                    <h6>What kind of payment do you accept?</h6>
                                </div>
                                <div class="cwr-faq-main__ans js-faq-main-ans">
                                    <p>USA: 3-6 business daysCanada: 1-5 business daysInternational: 8-75 business
                                        days</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Faq",
    "settings": [],
    "presets": [
      {
        "name": "Custom Faq"
      }
    ]
  }
{% endschema %}