<section class="cwr-our-product cwr-our-product-new-arrivals">
    {%- render 'product-carousel' -%}
</section>

{% schema %}
  {
    "name": "Custom New Arrivals",
    "settings": [
        {
            "type": "text",
            "label": "Main Heading",
            "id": "main_heading",
            "default": "New Arrivals"
        },
        {
            "type": "text",
            "label": "Sub Heading",
            "id": "sub_heading",
            "default":"Take a look at the freshest additions to our collection"
        }
    ],
    "blocks": [
      {
        "name": "NEW PRODUCT",
        "type": "product",
        "settings": [
            {
                "type": "product",
                "label": "Select Product",
                "id": "product"
            }           
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom New Arrivals"
      }
    ]
  }
{% endschema %}