{% if section.blocks.size > 0 %}
    <section class="cwr-logo-slider">
        <div class="cwr-logo-slider__content js-logo-slider-content">
            {% for block in section.blocks %}            
                <div class="cwr-logo-slider__content-img">
                    <figure>
                        {% if block.settings.logo != blank %}                        
                            <img data-src="{{ block.settings.logo |  image_url  }}" alt="logo-slider-img" class="img-fluid lazyload"
                                width="188" height="85">
                        {% endif %}
                    </figure>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}

{% schema %}
  {
    "name": "Custom Logo Slider",
    "settings": [],
    "blocks": [
        {
            "type": "image",
            "name": "Logo Image",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Select Logo",
                    "id": "logo"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Custom Logo Slider"
      }
    ]
  }
{% endschema %}