<div class="cwr-usp-slider cwr-usp-slider--bg-primary">
    <div class="container">
        <div class="cwr-usp-slider__content js-usp-slider-content">
            <div class="cwr-usp-slider__item">
                <div class="cwr-usp-slider__item-box">
                    <img src="{{ 'cwr-usp-img-white-1.png' |  file_url }}" alt="usp-img" class="img-fluid">
                    <span>90,000 + happy customers</span>
                </div>
            </div>
            <div class="cwr-usp-slider__item">
                <div class="cwr-usp-slider__item-box">
                    <img src="{{ 'cwr-usp-img-white-2.png' |  file_url }}" alt="usp-img" class="img-fluid">
                    <span>Safe & secure checkout</span>
                </div>
            </div>
            <div class="cwr-usp-slider__item">
                <div class="cwr-usp-slider__item-box">
                    <img src="{{ 'cwr-usp-img-white-3.png' |  file_url }}" alt="usp-img" class="img-fluid">
                    <span>FREE DELIVERY over $70</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Custom Usp Slider",
    "settings": [],
    "presets": [
      {
        "name": "Custom Usp Slider"
      }
    ]
  }
{% endschema %}