<section class="cwr-our-product">
    {%- render 'product-carousel' -%}
</section>

{% schema %}
  {
    "name": "Custom Products",
    "settings": [
        {
            "type": "text",
            "label": "Main Heading",
            "id": "main_heading",
            "default": "OUR CUSTOMER FAVORITES"
        },
        {
            "type": "text",
            "label": "Sub Heading",
            "id": "sub_heading",
            "default":"Must-haves worth checking out!"
        }
    ],
    "blocks": [
      {
        "name": "PRODUCT ITEM",
        "type": "product",
        "settings": [
            {
                "type": "product",
                "label": "Select Product",
                "id": "product"
            }           
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Products"
      }
    ]
  }
{% endschema %}