<section class="cwr-img-content cwr-img-content--choose-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cwr-img-content__left">
                    <div class="cwr-img-content__left-img">
                        <img data-src="./images/choose-us-img.jpg" alt="choose-us-img" class="img-fluid lazyload"
                            width="614" height="663">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cwr-img-content__right">
                    <h2 class="custom-heading-md">AN EXTENSIVE RANGE OF PRODUCTS YOU WON'T EASILY FIND IN LOCAL
                        STORES</h2>
                    <h4 class="custom-heading-sm">Featuring unparalleled quality and unbeatable prices</h4>
                    <p>Artists, graffitists, and anyone seeking to infuse creativity into their surroundings — we've
                        got what you're looking for. Our shop has grown over the years to cater to those unafraid to
                        express themselves with colors. We don't pick favorites – our products suit any style, any
                        experience level, and almost any budget.</p>
                    <a href="#" class="custom-btn">
                        <span>Shop best sellers<svg xmlns="http://www.w3.org/2000/svg" width="18" height="15"
                                viewBox="0 0 18 15" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.3429 0.292893L17.7069 6.65685C18.0974 7.04738 18.0974 7.68054 17.7069 8.07107L11.3429 14.435C10.9524 14.8256 10.3192 14.8256 9.92869 14.435C9.53816 14.0445 9.53816 13.4113 9.92869 13.0208L14.5855 8.36396H0.999756C0.447471 8.36396 -0.000244141 7.91625 -0.000244141 7.36396C-0.000244141 6.81168 0.447471 6.36396 0.999756 6.36396H14.5855L9.92869 1.70711C9.53816 1.31658 9.53816 0.683418 9.92869 0.292893C10.3192 -0.0976311 10.9524 -0.0976311 11.3429 0.292893Z"
                                    fill="black" />
                            </svg></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Choose Us",
    "settings": [],
    "presets": [
      {
        "name": "Custom Choose Us"
      }
    ]
  }
{% endschema %}