<section class="cwr-banner">
    <div class="cwr-banner__wrap js-banner-wrap">
        <div class="cwr-banner__img cwr-banner-img-bottom ">
            <div class="cwr-banner__bg-img">
                <img data-src="./images/collections-banner-img.jpg" alt="hero-img" class="img-fluid lazyload" width="1903"
                    height="483">
            </div>
            <div class="cwr-banner__img-mobile">
                <img data-src="./images/collections-banner-img-mobile.png" alt="hero-img" class="img-fluid lazyload" width="991"
                    height="665">
            </div>
            <div class="cwr-banner__wrap-content cwr-banner__wrap-content--collecitons">
                <div class="cwr-rating">
                    <ul>
                        <li><img src="./images/rating-star.svg" alt="star icon" class="img-fluid" /></li>
                        <li><img src="./images/rating-star.svg" alt="star icon" class="img-fluid" /></li>
                        <li><img src="./images/rating-star.svg" alt="star icon" class="img-fluid" /></li>
                        <li><img src="./images/rating-star.svg" alt="star icon" class="img-fluid" /></li>
                        <li><img src="./images/rating-star.svg" alt="star icon" class="img-fluid" /></li>
                    </ul>
                    <span>Rated <b>4.9/5 </b> by <b>Thousands</b> of Happy Customers</span>
                </div>
                <h1 class="custom-heading-xl">Get amazing MARKERS Collection</h1>
                <h4 class="custom-heading-sm">Explore the best graffiti markers and inks online at Bombing Science. Wide selection, top brands like Molotow, Krink, and more.</h4>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Collection Banner",
    "settings": [],
    "presets": [
      {
        "name": "Collection Banner"
      }
    ]
  }
{% endschema %}