<section class="cwr-img-content">
    <div class="container">
        <div class="cwr-img-content__left">
            <div class="cwr-img-content__left-img">
                <img data-src="{{ 'img-content-img1.jpg' |  file_url }}" alt="cwr-img-content-img" class="img-fluid lazyload"
                    width="745" height="804">
            </div>
            <div class="cwr-img-content__left-img2">
                <img data-src="{{ 'img-content-img2.jpg' | file_url }}" alt="cwr-img-content-img" class="img-fluid lazyload"
                    width="228" height="236">
                <img src="{{ 'img-content-img3.jpg' |  file_url }}" alt="cwr-img-content-img" class="img-fluid since-year" height="" width="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="cwr-img-content__right">
                    <h2 class="custom-heading-md">TRUSTED ART SUPPLIER FOR 25+ YEARS</h2>
                    <h4 class="custom-heading-sm">Thousands of artists globally rely on us for quality and variety.
                    </h4>
                    <p>Since launching in 1998, we've been a source of artistic inspiration, innovation, and endless
                        possibilities for artists and graffiti enthusiasts alike. Taking our passion online in 2004
                        marked a pivotal moment, extending our influence globally from our trusted origins as an art
                        supplier in the USA and Canada. </p>
                    <p> As of now, we're proudly connecting with over 90,000 satisfied customers globally, and that
                        number keeps growing day by day.</p>
                    <a href="#" class="custom-btn">
                        <span>LEARN MORE<svg xmlns="http://www.w3.org/2000/svg" width="18" height="15"
                                viewBox="0 0 18 15" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.3429 0.292893L17.7069 6.65685C18.0974 7.04738 18.0974 7.68054 17.7069 8.07107L11.3429 14.435C10.9524 14.8256 10.3192 14.8256 9.92869 14.435C9.53816 14.0445 9.53816 13.4113 9.92869 13.0208L14.5855 8.36396H0.999756C0.447471 8.36396 -0.000244141 7.91625 -0.000244141 7.36396C-0.000244141 6.81168 0.447471 6.36396 0.999756 6.36396H14.5855L9.92869 1.70711C9.53816 1.31658 9.53816 0.683418 9.92869 0.292893C10.3192 -0.0976311 10.9524 -0.0976311 11.3429 0.292893Z"
                                    fill="black" />
                            </svg></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Image Content",
    "settings": [],
    "presets": [
      {
        "name": "Custom Image Content"
      }
    ]
  }
{% endschema %}