{% if section.blocks.size > 0 %}
  <section class="cwr-marquee-slider">
      <div class="cwr-marquee-slider__content">
          <ul class="js-marquee-slider">
            {% for block in section.blocks %}            
              <li>
                {%- if block.settings.slider_text  != blank -%} 
                  <p>{{ block.settings.slider_text }}</p>
                {%- endif -%}
              </li>
            {% endfor %}
          </ul>
      </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Custom Marquee Slider",
    "settings": [],
    "blocks": [
      {
        "type": "slider",
        "name": "Marquee Slider Item",
        "settings": [
          {
            "type": "text",
            "label": "Slider Text",
            "id": "slider_text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Marquee Slider"
      }
    ]
  }
{% endschema %}